* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background-color: bisque;
  --product-card-background-color: white;
  --productNumber-decimal-pricePrev-text-color: #b7b7b7;
  --price-text-color: black;
  --pricePrev-line-through-color: rgb(206, 1, 1);
  --add-to-cart-text-color: white;
  --add-to-cart-background-color: black;
  --add-to-cart-border-color: black;
  --add-to-cart-HOVER-text-color: black;
  --add-to-cart-HOVER-background-color: white;
  --add-to-cart-HOVER-border-color: black;
  --buy-now-text-color: black;
  --buy-now-background-color: white;
  --buy-now-border-color: black;
  --buy-now-HOVER-text-color: white;
  --buy-now-HOVER-background-color: black;
  --buy-now-HOVER-border-color: black;
  --add-favorite-text-color: #b7b7b7;
}

body {
  background-color: var(--body-background-color);
  font-family: "Reddit Sans", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Main product card*/

.main-productcard-container {
  margin-top: 20%;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 20%;
  position: relative;
  background-color: var(--product-card-background-color);
  border-radius: 20px;
  min-width: 1073px;
  min-height: 550px;
}

/* Container left------------------------------------------------------ */

/* Vertical Gallery */
.vertical-gallery {
  width: 15%;
  padding: 20px;
  margin-left: 15px;
}
.vertical-gallery .product-image {
  display: flex;
}

.gallery-Black {
  flex: 1;
}

.headphones img {
  width: 100%;
  height: auto;
  padding: 2px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  object-fit: fill;
  object-position: center;
}

.thumbnail {
  width: 100%;
  cursor: pointer;
}

/* Container middle------------------------------------------------------- */

/* Main product image */

.container-middle {
  position: absolute;
  display: flex;
  top: 7%;
  bottom: 7%;
  left: 18%;
  width: 47%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.headphones-main {
  flex: 1;
  width: 80%;
  margin: 0 auto;
  object-position: center;
}

.headphones-main img {
  object-fit: fill;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Container right------------------------------------------------------- */

.container-right {
  position: absolute;
  top: 7%;
  right: 1%;
  width: 33%;
  height: fit-content;
  max-height: 493px;
  padding: 20px;
  margin-bottom: 30px;
}

/* Above-section */

.above-section {
  margin-top: 20px;
  padding-right: 10px;
  position: relative;
}

.stars-count {
  font-size: 1rem;
  font-weight: bold;
}

.star {
  display: inline-block;
  height: auto;
  width: 30px;
  margin-left: 2px;
  margin-top: 5px;
}

.product-number {
  font-size: 1rem;
  position: absolute;
  right: 0;
  color: var(--productNumber-decimal-pricePrev-text-color);
}

/* Heading */

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

@media (max-width: 1530px) {
  h1 {
    font-size: 1.38rem;
  }
}

/*  Price Tags  */

.price .previous-price {
  display: inline-block;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: var(--price-text-color);
}

.price-decimal {
  font-size: 1.5rem;
  color: var(--productNumber-decimal-pricePrev-text-color);
}

.previous-price {
  font-size: 1rem;
  color: var(--productNumber-decimal-pricePrev-text-color);
  text-decoration: var(--pricePrev-line-through-color) line-through;
  margin-left: 20px;
}

/* Product-description */

.product-description {
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-description p {
  text-align: left;
  font-size: 12px;
  font-weight: medium;
}

.em {
  font-style: normal;
}

@media (min-width: 1250px) {
  .product-description p {
    margin-bottom: 3vw;
  }
}

@media (min-width: 1720px) {
  .product-description p {
    font-weight: medium;
    font-size: 14px;
    margin-bottom: 5vw;
  }
}

/* Plus-minus-buttons */

.plus-minus-buttons {
  text-align: left;
  padding: 1px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input {
  width: 50px;
  font-size: 1rem;
  text-align: center;
  border: none;
}

/* Buying-buttons  */
.buying-buttons {
  position: relative;
  margin-top: 5px;
}

/* Add to cart */

.add-to-cart {
  display: inline-block;
  bottom: 5px;
  left: 5px;
}

.add-to-cart button {
  background-color: var(--add-to-cart-background-color);
  border: 2px solid var(--add-to-cart-border-color);
}

.add-to-cart button:hover {
  background-color: var(--add-to-cart-HOVER-background-color);
  border: 2px solid var(--add-to-cart-HOVER-border-color);
}

.add-to-cart button a {
  display: inline-block;
  color: var(--add-to-cart-text-color);
}

.add-to-cart button a:hover {
  display: inline-block;
  color: var(--add-to-cart-HOVER-text-color);
  font-weight: medium;
}

/* Buy now */

.buy-now {
  display: inline-block;
  bottom: 5px;
  left: 130px;
}

.buy-now button {
  background-color: var(--buy-now-background-color);
  border: 2px solid var(--buy-now-border-color);
}

.buy-now button a {
  color: var(--buy-now-text-color);
}

.buy-now button:hover {
  background-color: var(--buy-now-HOVER-background-color);
  border: 2px solid var(--buy-now-HOVER-border-color);
}

.buy-now button a:hover {
  color: var(--buy-now-HOVER-text-color);
  font-weight: medium;
}

/* Add Favorite */

.add-favorite {
  position: absolute;
  right: 5px;
  bottom: 20px;
  width: 150px;
  height: auto;
  font-weight: bold;
  color: var(--add-favorite-text-color);
  cursor: pointer;
}

@media (max-width: 1720px) {
  .add-favorite {
    display: none;
  }
}

.heart {
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: 1px;
  height: auto;
  width: 25px;
  margin-left: 2px;
  margin-top: 5px;
}
